name: Build and publish

on:
  push:
    branches: ["main"]

jobs:
  docker:
    name: Build & push Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/uploader:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/uploader:latest
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/uploader:latest
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/uploader:latest,mode=max